<%= form_tag guests_pay_form_path,method: :get do %>
  <h2>お客様情報</h2>
  <input name="last" value="姓">
  <input name="first" value="名">
  <input name="last_furigana" value="せい">
  <input name="first_furigana" value="めい">
  <br>〒<input name="zip_code1">-<input name="zip_code2">
  <br><input name="prefectures" value="都道府県">
  <br><input name="municipalities" value="市区町村">
  <br><input name="address" value="番地・ビル名">
  <br>電話番号 ※必須
  <br><input name="phone">
  <br>メールアドレス　※必須
  <br><input name="email">
  
  既にお客様が持っている食材を入力してください。
  <input name="request">
  <input type="submit" value="次へ">
<% end %>
