
<div class="center jumbotron">
    <h2>no go</h2>
    <p>簡単メニューから、全ての材料をお届け</p>
</div>
<h2 class="description">no goとは</h2>
<div class="homepage">
<h3>STEP1</h3>
メニューから食べたいメニューをカートへ！
<h3>↓</h3>
<h3>STEP2</h3>
お買い物カートからご注文！
（※お客様の冷蔵庫に既にある食材はご注文時の発注書にご記載ください。）
<h3>↓</h3>
<h3>STEP3</h3>
メニュー調理に必要な食材を全てお届け！
ご注文完了メールが届いた2~3日で到着！（着払いになります）
<h3>↓</h3>
<h3>STEP4</h3>
届いた食材をメニューからレシピを見ながら調理しよう！
</div>